{% extends "header.html" %}
{{super()}}
{% block title %}Config Wireless{% endblock %}
{% block content %}
<form action="{{ url_for('configWireless') }}" method="POST">
	<table>
		<tr>
			<th>Wireless SSID</th><th>Wireless Password</th><th>Encryption Type</th>
		</tr>
		<tr>
			<td>
				<input type="text" value="{{ wirelessSSID }}" name="wirelessSSID">
			</td>
			<td>
				<input type="text" value="{{ wirelessPassword }}" name="wirelessPassword">
			</td>
			<td>
				<select name="wirelessEncryption">
					<option value="WEP" {% if wirelessEncryption == "WEP" %} selected {% endif %}>WEP</option>
					<option value="WPA" {% if wirelessEncryption == "WPA" %} selected {% endif %}>WPA</option>
					<option value="WPA2" {% if wirelessEncryption == "WAP2" %} selected {% endif %}>WPA2</option>
				</select>
			</td>
		</tr>
	</table>
	<input type="submit" value="Update">
</form>
{% endblock %}