<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}"
	</head>
	<body>
		<div id="header">
			<div id="title">
				<a href="{{ url_for('index') }}"><h1>Secure Heart Information Transmitter</h1></a>
				<h3>Alternitive Data Interace Connector</h3>
			</div>
			{% if session.logged_in %}
				<div id="logout">
					<p>
						Welcome {{ session.username }}!
						<a href="{{ url_for('logout') }}">Logout</a>
					</p>
				</div>
			{% else %}
				<div>
					<form method="POST" action="{{ url_for('index') }}" id="loginForm">
						<input type="text" name="username" id="username">
						<input type="password" name="password" id="password">
						<button type="submit">Login</button>
					</form>
				</div>
			{% endif %}
			<hr>
		</div>
		<div id="content">{% block content %}{% endblock %}</div>
	</body>
</html>