{% extends "header.html" %}
{{super()}}
{% block title %}Home{% endblock %}
{% block content %}
	{% if session.logged_in %}
	<div>
		<h2>Main Menu</h2>
		<ul>
			<li>
				<a href="{{ url_for('renderASHITCheck') }}">Check Alarm Database.</a>
			</li>
			<li>
				<a href="{{ url_for('renderAddUser') }}">Add a new user.</a>
			</li>
			<li>
				<a href="{{ url_for('renderUserList') }}">List users.</a>
			</li>
			<li>
				<a href="{{ url_for('renderConfigAlarms') }}">Configure Alarms</a>
			</li>
			<li>
				<a href="{{ url_for('renderConfigWireless') }}">Configure Wireless</a>
			</li>
		</ul>
	</div>
	{% endif %}
{% endblock %}