{% extends "header.html" %}
{{super()}}
{% block title %}Home{% endblock %}
{% block content %}
	{% if session.logged_in %}
	<div>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolore facere at odit eum veritatis eaque officiis impedit dolor exercitationem suscipit, aliquid reprehenderit cupiditate sequi delectus soluta unde commodi accusamus?		
		<ul>
			<li>
				<a href="{{ url_for('renderASHITCheck') }}">Check Alarm Database.</a>
			</li>
			<li>
				<a href="{{ url_for('renderAddUser') }}">Add a new user.</a>
			</li>
			<li>
				<a href="{{ url_for('renderUserList') }}">List users.</a>
			</li>
		</ul>
	</div>
	{% else %}
	<div>
		<form method="POST" action="/" id="loginForm">
			<input type="text" name="username" id="username">
			<input type="password" name="password" id="password">
			<button type="submit">Login</button>
		</form>
	</div>
	{% endif %}
{% endblock %}